{% if product.metafields.loox.avg_rating != blank %}
  <a href="#looxReviews">
    <div
      class="loox-rating"
      data-id="{{ product.id }}"
      data-rating="{{ product.metafields.loox.avg_rating }}"
      data-raters="{{ product.metafields.loox.num_reviews }}"
    ></div>
  </a>
{% endif %}
