<style>
  .custom-search{
    position:relative;
    padding:50px 0 0;
  }
  .custom-search .page-width{
    max-width:390px;
  }
  .custom-search form{
    display:flex;
    align-items:center;
    gap:20px;
    position: relative;
  }
  .custom-search input[type="text"]{
        background-image: radial-gradient(ellipse at center, rgb(255, 255, 255), rgb(255, 255, 255));
    overflow: hidden;
    border: 2px solid rgba(67, 105, 4, 1);
    border-radius: 30px 30px 30px 30px;
    box-shadow: none;
        min-width: 200px;
        font-family: "Open Sans";
    color: rgb(0, 0, 0);
    font-size: 12px;
    line-height: 15px;
     outline: none;
    box-shadow: none;
    min-height: 44px;
    width: 100%;
    padding: 10px 15px;
  }
  .custom-search button{
        background: transparent;
    border: none;
    padding: 0;
    display: flex;
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
</style>
<div class="custom-search">
  <div class="page-width">
    <form action="{{ routes.search_url }}">
      <input
        type="text"
        placeholder="Search Blogs, Podcasts & Videos"
        name="q"
        value="{{ search.terms | escape }}"
      >
      <input type="hidden" name="type" value="article">
      <input type="hidden" name="options[prefix]" value="last">
      <input type="hidden" name="blog" value="Stories">
      <!-- Specify the blog name here -->
      <button type="submit" class="promagnifier" aria-label="Search magnifier button"><span class="innericon"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 512 512"><path d="M448.225 394.243l-85.387-85.385c16.55-26.08 26.146-56.986 26.146-90.094 0-92.99-75.652-168.64-168.643-168.64-92.988 0-168.64 75.65-168.64 168.64s75.65 168.64 168.64 168.64c31.466 0 60.94-8.67 86.176-23.734l86.14 86.142c36.755 36.754 92.355-18.783 55.57-55.57zm-344.233-175.48c0-64.155 52.192-116.35 116.35-116.35s116.353 52.194 116.353 116.35S284.5 335.117 220.342 335.117s-116.35-52.196-116.35-116.352zm34.463-30.26c34.057-78.9 148.668-69.75 170.248 12.863-43.482-51.037-119.984-56.532-170.248-12.862z"></path></svg></span><span class="asp_clear"></span></button>
    </form>
  </div>
</div>
{% schema %}
{
  "name": "Custom search",
   "class": "section",
  "settings": [
    {
    "type": "text",
    "id": "type",
    "label": "Search type"
  }
  ],
    "presets": [
      {
        "name": "Custom search",
        "category": "Custom"
      }
    ]
}
{% endschema %}
